{% extends "Banjax/base.html" %}

{% block title %} TEST FORM {% end %}

{% block js %} 

    <script src="{{ static_assets('js/banjax.js') }}"></script>
    <script src="{{ static_assets('js/banjax-data.js') }}"></script>

    <script src="{{ module_assets('js/banjax-tint.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ module_assets('css/style.css') }}">
    
{% end %} 



{% block content %}
    <h1>TEST ALL</h1>
    <ul>
	    {% for _, item in items.items() %}
	    	<li><a href="tint/{{ item["itemIdentifier"] }}">{{ item["itemIdentifier"] }}</a>

	    					-- {{ item["title"] }}</li>
	    {% end %}
   	</ul>


{% end %}
 