{% extends 'tint_base.html' %}

{% block content %}

	<div class="large-7 columns">
	    <div class="row">
	    	
	    

	    	<div class="note_bar_left large-2 columns">
		        
				<div class="inner">
					
					hi


				</div>
		 		
		 	</div>

	    	<div class="main_text_area large-8 columns">
	    		<div>
	<button id="main_add_item" class="button">+ Paragraph</button>
	    		</div>


	    	<div>
		        
				<ul id="sortable">
			  


			  <li class="ui-state-default draggable resizable paragraph">
				<div class="divlabel">paragraph</div>
			  	<div class="toolbar">
		  

				  <button href="#" class="button tiny" data-command='foreign'>Foreign</button>
				  <button href="#" class="button tiny" data-command='add'>Add</button>
				  <button href="#" class="button tiny" data-command='del'>Del</button>
				  <button href="#" class="button tiny" data-command='unclear'>Unclear</button>
				  <button href="#" class="button tiny" data-command='u'>Underline</button>
				  <button href="#" class="button tiny" data-command='sup'>Superscript</button>
				   <button href="#" class="button tiny" data-command='sic'>Sic</button>
				   <button href="#" class="button tiny" data-command="gap">Illegible</button>
  				</div>
  					
					<div class='editor' contenteditable="true">

  						You&nbsp;<del>al</del>&nbsp;<add>will</add>&nbsp;allow me on the<br>part of my people to congratulate<br>you most heartily for com-<br>missioning Hon Frederick Douglass<br>Minister to Hayti. He is the<br>Lion of our race and represents<br>in its&nbsp;<del>most</del>&nbsp;<add>fullest</add>&nbsp;sense the<br>honor and dignity of our people<br>
					</div>


			  </li>
			  <li class="ui-state-default draggable resizable paragraph">
				<div class="divlabel">paragraph</div>
			  	<div class="toolbar">
		  

				  <button href="#" class="button tiny" data-command='foreign'>Foreign</button>
				  <button href="#" class="button tiny" data-command='add'>Add</button>
				  <button href="#" class="button tiny" data-command='del'>Del</button>
				  <button href="#" class="button tiny" data-command='unclear'>Unclear</button>
				  <button href="#" class="button tiny" data-command='u'>Underline</button>
				  <button href="#" class="button tiny" data-command='sup'>Superscript</button>
				   <button href="#" class="button tiny" data-command='sic'>Sic</button>
				   <button href="#" class="button tiny" data-command="gap">Illegible</button>
  				</div>
  					
					<div class='editor' contenteditable="true">

  						In this connection I might<br>
add that the appointment of Lynch<br>
and Townsend of Indiana and<br>
other recognition recently had<br>
is more than ample testimony<br>
of the fairness of the administration<br>
toward the colored people
<br>of the entire country.
					</div>


			  </li>



			 
				</ul></div>

		 	</div>
		 	<div class="note_bar_right large-2 columns">
		       
				<div class="inner">
					ho
				</div>

		 	</div>
	 	</div>
	    
	</div>
	<div class="large-5 columns">
		<img src="https://www.archives.gov/exhibits/documented-rights/exhibit/section2/detail/images/jones-letter-1.jpg" />
	</div>
	<hr/>
{% end %}
 